<nav class="nav" role="navigation">
  <ul class="nav-links">
    <li <%= active_nav('Portfolio') %> class="nav-link"><%= link_to 'Portfolio', '/' %></li>
    <li <%= active_nav('about') %> class="nav-link"><%= link_to 'About', '/about/' %></li>
    <!-- <li <%= active_nav('info') %> class="nav-link"><%= link_to 'Blog', '/blog/' %></li> -->
  </ul>
</nav>