<section class="views view-7-deadly-sins">

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/hero.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h1>7 Deadly Sins Foldout</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/open-1.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h1>7 Deadly Sins Foldout</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="row row-padded">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/cover.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/sloth.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/envy.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/pride.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/lust.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/gluttony.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/wrath.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/greed.jpg' %>
      </div>
    </span>
  </div>

  <div class="description">
    <h2 class="marginless">Foldout</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <p><%= link_to '< Back to Portfolio', '/' %></p>

</section>
