<section class="views view-7-deadly-sins">

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/hero.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h1>7 Deadly Sins Foldout</h1>
    <p>The task for this project was to visually represent each of the well-known 7 Deadly Sins in an abstract and thought-provoking manner.</p>
    <p>Randomly created Rorschach tests (better known as an ink blot tests) proved to be an engaging and interesting concept. Since ink blots are traditionally meant for the viewer to interpret, simply suggesting what the viewer should see completely changes how they approach it and demonstrates the power of design.</p>
  </div>

  <div class="row margin-large">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/closeup.jpg' %>
      </div>
    </span>
  </div>

  <div class="row row-halves margin-large">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/cover.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/pride.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/envy.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/greed.jpg' %>
      </div>
    </span>
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/sloth.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/wrath.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/gluttony.jpg' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/7-deadly-sins/lust.jpg' %>
      </div>
    </span>
  </div>

  <p><%= link_to '< Back to Portfolio', '/' %></p>

</section>
