<section class="views view-arcadia">

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/arcadia/hero.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h1 class="marginless">Arcadia Rebrand</h1>
    <p>In this hypothetical rebrand, the Utah company Evans &amp; Sutherland was chosen. A name change was recommended to better suggest their area of expertise, which is concepting and building planetariums.</p>
    <p>In addition to brand guidelines and a brand book, various touchpoints were designed using the new look and feel.</p>
  </div>

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/arcadia/book-1.jpg' %>
      </div>
    </span>
  </div>

  <div class="description">
    <h1 class="marginless">Brand Book</h1>
  </div>

  <div class="row row-halves">
    <span class="column">
      <div class="cell bordered">
        <%= image_tag 'portfolio/arcadia/brand-values.jpg' %>
      </div>
    </span>
    <span class="column">
      <div class="cell bordered">
        <%= image_tag 'portfolio/arcadia/brand-photos.jpg' %>
      </div>
    </span>
  </div>
  <div class="row row-halves">
    <span class="column">
      <div class="cell bordered">
        <%= image_tag 'portfolio/arcadia/brand-colors.jpg' %>
      </div>
    </span>
    <span class="column">
      <div class="cell bordered">
        <%= image_tag 'portfolio/arcadia/big-idea.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h2 class="marginless">Brand Assets</h2>
  </div>

  <p><%= link_to '< Back to Portfolio', '/' %></p>
</section>