<section class="views view-design-movements">

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/design-movements/hero.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h1 class="marginless">Design Movement Book</h1>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p> -->
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p> -->
  </div>

  <div class="row row-padded margin-large">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/design-movements/cover-image.jpg' %>
      </div>
    </span>
  </div>

  <div class="description">
    <h1 class="marginless">Design Movements</h1>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p> -->
  </div>

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/design-movements/spread-1.jpg' %>
      </div>
    </span>
  </div>

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/design-movements/closeup-1.jpg' %>
      </div>
    </span>
  </div>

  <div class="description">
    <h2 class="marginless">Design Movments</h2>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p> -->
  </div>

  <p><%= link_to '< Back to Portfolio', '/' %></p>

</section>
