<figure class="hero view-expeditions-7">
  <%= image_tag 'portfolio/expeditions-7/hero.jpg' %>
  <figcaption class="figcaption">
    <h1 class="heading-large marginless">Expeditions 7</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ullam labore, repellat nihil impedit excepturi! Ratione quos maiores sunt accusantium, hic vel nostrum doloremque dolorem placeat a odit id iure!</p>
  </figcaption>
</figure>

<section class="views view-expeditions-7">

  <div class="grid-row grid-row-uneven">
    <span class="grid-column">
      <div class="grid-cell">
        <video autoplay="autoplay" loop muted>
          <source src="http://e7-staging.herokuapp.com/assets/thumbnails/timeline/antarctica-69faea44fa268e154ac836622d9a513c.mp4" type="video/mp4">
          <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/north-america-9358a58bc127b676ebcb0205a620bd6f.jpg' %>
        </video>
      </div>
      <div class="grid-cell">
        <video autoplay="autoplay" loop muted>
          <source src="http://e7-staging.herokuapp.com/assets/thumbnails/timeline/russia-siberia-f9e4724e16e3a6795434bc07b9b39a9c.mp4" type="video/mp4">
          <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/north-america-9358a58bc127b676ebcb0205a620bd6f.jpg' %>
        </video>
      </div>
    </span>
    <span class="grid-column grid-column-larger">
      <div class="grid-cell">
        <video autoplay="autoplay" loop muted>
          <source src="http://e7-staging.herokuapp.com/assets/thumbnails/timeline/australia-07c6193129e22ddd75c93b8332970eca.mp4" type="video/mp4">
          <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/north-america-9358a58bc127b676ebcb0205a620bd6f.jpg' %>
        </video>
      </div>
    </span>
  </div>
  <div class="views-description">
    <h2 class="marginless">Cinemagraphs</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="grid-row grid-row-thirds">
    <span class="grid-column">
      <div class="grid-cell">
        <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/north-america-9358a58bc127b676ebcb0205a620bd6f.jpg' %>
      </div>
    </span>
    <span class="grid-column">
      <div class="grid-cell">
        <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/south-america-2fc801097ee1fa0201316c39a6601948.jpg' %>
      </div>
    </span>
    <span class="grid-column">
      <div class="grid-cell">
        <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/antarctica-55b8ef35073cf9f46f3a4d6fc246d1c8.jpg' %>
      </div>
    </span>
  </div>

  <div class="grid-row">
    <span class="grid-column grid-column-large">
      <div class="view">
        <%= image_tag 'portfolio/expeditions-7/stamps.png' %>
      </div>
    </span>
  </div>
  <div class="views-description">
    <h2 class="marginless">Time Stamps</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="grid-row grid-row-halves">
    <span class="grid-column">
      <div class="view">
        <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/australia-9efaeafce41b82bb9c26a1bdd3986294.jpg' %>
      </div>
    </span>
    <span class="grid-column">
      <div class="view">
        <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/russia-siberia-2a5c1f48931c101fe537425d522aa268.jpg' %>
      </div>
    </span>
  </div>

  <div class="views-description">
    <h2 class="marginless">Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="grid-row grid-row-full">
    <span class="grid-column grid-column-large">
      <div class="view">
        <%= image_tag 'portfolio/expeditions-7/interactive-map.png' %>
      </div>
    </span>
  </div>
  <div class="views-description">
    <h2 class="marginless">Interactive Maps</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="views-description">
    <h2 class="marginless">Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

</section>

  <p><%= link_to '< Back to Portfolio', '/' %></p>
</section>