<section class="views view-expeditions-7">

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/expeditions-7/hero.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h1>Expeditions-7 Website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <!-- <div class="pairing">
    <div class="pairing-inner">
      <div class="pairing-visual">
        <%= image_tag 'portfolio/expeditions-7/hero.jpg' %>
      </div>

      <div class="pairing-description">
        <h2>Expeditions 7 Website</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
      </div>
    </div>
  </div> -->

  <div class="row row-uneven">
    <span class="column">
      <div class="cell">
        <video autoplay="autoplay" loop muted>
          <source src="http://e7-staging.herokuapp.com/assets/thumbnails/north-america-0ff89d015526f47bd0c93fa850d3595d.mp4" type="video/mp4">
          <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/north-america-0ff89d015526f47bd0c93fa850d3595d.mp4' %>
        </video>
      </div>
      <div class="cell">
        <video autoplay="autoplay" loop muted>
          <source src="http://e7-staging.herokuapp.com/assets/thumbnails/russia-siberia-f9e4724e16e3a6795434bc07b9b39a9c.mp4" type="video/mp4">
          <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/north-america-9358a58bc127b676ebcb0205a620bd6f.jpg' %>
        </video>
      </div>
    </span>
    <span class="column column-larger">
      <div class="cell">
        <video autoplay="autoplay" loop muted>
          <source src="http://e7-staging.herokuapp.com/assets/thumbnails/australia-07c6193129e22ddd75c93b8332970eca.mp4" type="video/mp4">
          <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/north-america-9358a58bc127b676ebcb0205a620bd6f.jpg' %>
        </video>
      </div>
    </span>
  </div>
  <div class="description">
    <h2>Cinemagraphs</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="row">
    <span class="column column-large">
      <div class="view">
        <%= image_tag 'portfolio/expeditions-7/stamps.png' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h2>Blog Time Stamps</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="row row-uneven">
    <span class="column column-larger">
      <div class="cell">
        <%= image_tag 'portfolio/expeditions-7/interactive-map.png' %>
      </div>
    </span>
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/expeditions-7/interactive-map-na.png' %>
      </div>
      <div class="cell">
        <%= image_tag 'portfolio/expeditions-7/interactive-map-sa.png' %>
      </div>
    </span>
    
  </div>

  <div class="description">
    <h2>Interactive Maps</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="row row-full">
    <span class="column column-large">
      <div class="view">
        <%= image_tag 'portfolio/expeditions-7/photo-grid.jpg' %>
      </div>
    </span>
  </div>

  <div class="description">
    <h2>Photo Grid</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="row row-halves">
    <span class="column">
      <div class="view">
        <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/australia-9efaeafce41b82bb9c26a1bdd3986294.jpg' %>
      </div>
    </span>
    <span class="column">
      <div class="view">
        <%= image_tag 'http://e7-staging.herokuapp.com/assets/thumbnails/russia-siberia-2a5c1f48931c101fe537425d522aa268.jpg' %>
      </div>
    </span>
  </div>

  <div class="description">
    <h2>Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <p><%= link_to '< Back to Portfolio', '/' %></p>
</section>