<section class="views view-hi-chew">

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/hi-chew/hero.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h1 class="marginless">Hi-Chew Website</h1>
    <p>Hi-Chew is a fruity chewable candy that recently made its way to America after achieving great popularity in Japan.</p>
    <p>They wanted a site to introduce their candy, make a big impact, and separate them from the mass of sicky-sweet competition with a fresh and fruity perspective</p>
    <div class="info">
      <ul>
        Packaging by: 
        <li><%= link_to 'T.C. de Hoyos', 'https://www.behance.net/tcdehoyos', target: '_blank' %></li>
      </ul>
      <ul>
        Additional design by: 
        <li><%= link_to 'Brian McDonough', 'https://www.linkedin.com/pub/brian-mcdonough/58/b0b/134', target: '_blank' %></li>
      </ul>
      <ul>
        Front-end dev by: 
        <li><%= link_to 'Josh Dean', 'http://www.joshdean.co/', target: '_blank' %></li>
      </ul>
    </div>
  </div>

  <div class="row row-padded">
    <span class="column">
      <div class="cell browser-framed">
        <video autoplay="autoplay" loop muted>
          <source src="/assets/images/portfolio/hi-chew/parallax.mp4" type="video/mp4">
        </video>
      </div>
    </span>
  </div>
  <div class="description hide">
    <h2 class="marginless">Falling Fruit Parallax</h2>
  </div>

  <div class="row row-padded">
    <span class="column">
      <div class="cell browser-framed">
        <img src="/assets/images/portfolio/hi-chew/map.jpg" />
      </div>
    </span>
  </div>
  <div class="description">
    <h2 class="marginless">Hi-Chew Locator Map</h2>
    <p>Since Hi-Chew is still relatively new in the U.S., people were going crazy wanting to know where they could buy more. We wanted to provide them with a quick and easy way to find exactly which kind they were after.</p>
    <p>The Hi-Chew Locator was complete with retailer listings from around the country. The "Magical Button" could take you directly to the nearest store in order to satisfy your Hi-Chew craving.</p>
  </div>

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/hi-chew/flavor-drawer.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h2 class="marginless">Flavor Drawer</h2>
    <p>While the initial state of the Hi-Chew website is clean and fresh, when a user opens the "flavor drawer," they are immersed in a rich, colorful, and active view.</p>
    <p>This early concept builds on Hi-Chew's active lifestyle and Japenese originated brand values.</p>
  </div>

  <div class="row">
    <span class="column">
      <div class="cell">
        <%= image_tag 'portfolio/hi-chew/voting.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h2 class="marginless">Favorite Flavor Campaign</h2>
    <p>Without fail, Hi-Chew's loyal fans always loved making-the-case for which flavor they liked best. And, by the way, I say that Grape is totally the best.</p>
    <p>We set out to let the fans answer the question, once and for all, which flavor they thought was the best.</p>
  </div>

  <p><%= link_to '< Back to Portfolio', '/' %></p>
</section>