<figure class="piece-hero">
  <%= image_tag 'portfolio/hi-chew/drawer-original.jpg' %>
  <figcaption class="figcaption">
    <h1 class="heading-large marginless">Hi-Chew.com</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ullam labore, repellat nihil impedit excepturi! Ratione quos maiores sunt accusantium, hic vel nostrum doloremque dolorem placeat a odit id iure!</p>
  </figcaption>
</figure>


<section class="piece-views">
  <figure class="piece-hero">
    <%= image_tag 'portfolio/hi-chew/drawer-original.jpg' %>
    <figcaption class="figcaption">
      <h1 class="heading-large marginless">Hi-Chew.com</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ullam labore, repellat nihil impedit excepturi! Ratione quos maiores sunt accusantium, hic vel nostrum doloremque dolorem placeat a odit id iure!</p>
    </figcaption>
  </figure>

  <figure class="piece-hero">
    <%= image_tag 'portfolio/hi-chew/drawer-original.jpg' %>
    <figcaption class="figcaption">
      <h1 class="heading-large marginless">Hi-Chew.com</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ullam labore, repellat nihil impedit excepturi! Ratione quos maiores sunt accusantium, hic vel nostrum doloremque dolorem placeat a odit id iure!</p>
    </figcaption>
  </figure>

  <figure class="piece-hero">
    <%= image_tag 'portfolio/hi-chew/drawer-original.jpg' %>
    <figcaption class="figcaption">
      <h1 class="heading-large marginless">Hi-Chew.com</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione ullam labore, repellat nihil impedit excepturi! Ratione quos maiores sunt accusantium, hic vel nostrum doloremque dolorem placeat a odit id iure!</p>
    </figcaption>
  </figure>
</section>

  <p><%= link_to '< Back to Portfolio', '/' %></p>
</section>