<section class="views view-the-other-firm">

  <div class="grid-row">
    <span class="grid-column">
      <div class="grid-cell">
        <%= image_tag 'portfolio/the-other-firm/hero.jpg' %>
      </div>
    </span>
  </div>
  <div class="view-description">
    <h1 class="marginless">The Other Firm Website</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="grid-row grid-row-halves">
    <span class="grid-column">
      <div class="grid-cell">
        <%= image_tag 'portfolio/the-other-firm/illustration-esp.png' %>
      </div>
      <div class="grid-cell">
        <%= image_tag 'portfolio/the-other-firm/illustration-journal-map.png' %>
      </div>
    </span>
    <span class="grid-column">
      <div class="grid-cell">
        <%= image_tag 'portfolio/the-other-firm/illustration-rex.png' %>
      </div>
      <div class="grid-cell">
        <%= image_tag 'portfolio/the-other-firm/illustration-noba.png' %>
      </div>
    </span>
  </div>
  <div class="view-description">
    <h2 class="marginless">Illustrations</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="grid-row grid-row-padded">
    <span class="grid-column">
      <div class="grid-cell browser-framed">
        <%= image_tag 'portfolio/the-other-firm/history.jpg' %>
      </div>
    </span>
  </div>

    <div class="grid-row grid-row-padded">
    <span class="grid-column">
      <div class="grid-cell browser-framed">
        <%= image_tag 'portfolio/the-other-firm/contact.jpg' %>
      </div>
    </span>
  </div>

  <div class="view-description">
    <h2 class="marginless">Screens</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="grid-row">
    <span class="grid-column">
      <div class="grid-cell">
        <%= image_tag 'portfolio/the-other-firm/mood-board.jpg' %>
      </div>
    </span>
  </div>
  <div class="view-description">
    <h2 class="marginless">Mood Board</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="grid-row">
    <span class="grid-column">
      <div class="grid-cell">
        <%= image_tag 'portfolio/the-other-firm/layout-inspiration.jpg' %>
      </div>
    </span>
  </div>
  <div class="view-description">
    <h2 class="marginless">Layout Inspiration</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <p><%= link_to '< Back to Portfolio', '/' %></p>
  
</section>