<section class="views view-typographic-lights">

  <div class="row row-full">
    <span class="column column-large">
      <div class="view">
        <%= image_tag 'portfolio/typographic-lights/book-cover.jpg' %>
      </div>
    </span>
  </div>
  <div class="row row-full">
    <span class="column column-large">
      <div class="view">
        <%= image_tag 'portfolio/typographic-lights/book-helvetica.jpg' %>
      </div>
    </span>
  </div>
  <div class="row row-full">
    <span class="column column-large">
      <div class="view">
        <%= image_tag 'portfolio/typographic-lights/book-eurostile.jpg' %>
      </div>
    </span>
  </div>

  <div class="description">
    <h2 class="marginless">Booklet</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>

  <div class="row row-full">
    <span class="column column-large">
      <div class="view">
        <%= image_tag 'portfolio/typographic-lights/eurostile.jpg' %>
      </div>
    </span>
  </div>
  <div class="row row-full">
    <span class="column column-large">
      <div class="view">
        <%= image_tag 'portfolio/typographic-lights/didot.jpg' %>
      </div>
    </span>
  </div>
  <div class="row row-full">
    <span class="column column-large">
      <div class="view">
        <%= image_tag 'portfolio/typographic-lights/century.jpg' %>
      </div>
    </span>
  </div>
  <div class="row row-full">
    <span class="column column-large">
      <div class="view">
        <%= image_tag 'portfolio/typographic-lights/helvetica.jpg' %>
      </div>
    </span>
  </div>
  <div class="row row-full">
    <span class="column column-large">
      <div class="view">
        <%= image_tag 'portfolio/typographic-lights/avant-garde.jpg' %>
      </div>
    </span>
  </div>
  <div class="description">
    <h2 class="marginless">Typefaces</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus consequatur quod, totam illo, ad officiis veniam ab maiores soluta. Incidunt praesentium laudantium numquam asperiores non, maiores vero. Nulla, mollitia, tempore!</p>
  </div>
  
  <p><%= link_to '< Back to Portfolio', '/' %></p>
</section>