<section>
  <ul class="briefs">
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title', location: 'http://lorempixel.com/1600/1000/'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title', location: 'http://lorempixel.com/1600/1000/'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title', location: 'http://lorempixel.com/1600/1000/'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title', location: 'http://lorempixel.com/1600/1000/'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title', location: 'portfolio/typographic-lights/preview.jpg'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title', location: 'portfolio/7-sins/preview.jpg'} %>
  </ul>
</section>