<section>
  <ul class="briefs">
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: '7 Deadly Sins'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: '7 Deadly Sins'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: '7 Deadly Sins'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: '7 Deadly Sins'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: '7 Deadly Sins'} %>
  </ul>
</section>