<section>
  <ul class="briefs">
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Piece Title'} %>
  </ul>
</section>