<section class="views">
  <ul class="briefs row row-halves">
    <span class="column">
      <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Expeditions 7'} %>
      <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Design Movements'} %>
      <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Saxton Horne'} %>
      <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Typographic Lights'} %>
    </span>
    <span class="column">
      <%= partial '/portfolio/partials/portfolio_brief', locals: {title: '7 Deadly Sins'} %>
      <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Hi-Chew'} %>
      <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'The Other Firm'} %>
      <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Arcadia'} %>
  </ul>
</section>