<section>
  <ul class="briefs">
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Expeditions 7'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Hi-Chew'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Typographic Phrase'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Typographic Lights'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Arcadia'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: '7 Deadly Sins'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Capital CRE'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'The Other Firm'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Utah Jazz'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Saxton Horne'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Architecture Week'} %>
    <%= partial '/portfolio/partials/portfolio_brief', locals: {title: 'Design Movements'} %>
  </ul>
</section>